@model IEnumerable<AlkoBot.Models.Cocktail>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="CreateCocktail">Добавить коктейль</a>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Лайки</td>
        <td>Дизлайки</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CocktailId</td>
            <td>@item.Name</td>
            
            <td>0</td>
            <td>0</td>
            <td>
                <a asp-action="CocktailDetails" asp-controller="Home" asp-route-id="@item.CocktailId">Подробнее</a> |
                <a asp-action="EditCocktail" asp-controller="Home" asp-route-id="@item.CocktailId">Изменить</a> |
                <a asp-action="DeleteCocktail" asp-controller="Home" asp-route-id="@item.CocktailId">Удалить</a>
            </td>
        </tr>
    }
</table>

