@model IEnumerable<AlkoBot.Models.Cocktail>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase">Коктейли</h4>

<a asp-action="CreateCocktail">Add New</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CocktailId)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CocktailId
                </td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="CocktailDetails" asp-controller="Home" asp-route-id="@item.CocktailId">Подробнее</a> |
                    <a asp-action="EditCocktail" asp-controller="Home" asp-route-id="@item.CocktailId">Изменить</a> |
                    <a asp-action="DeleteCocktail" asp-controller="Home" asp-route-id="@item.CocktailId">Удалить</a>
                </td>
            </tr>

        }
    </tbody>
</table>

